node_modules/
dist/
www/
loader/
hydrate/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
coverage/
.stencil/
*.tsbuildinfo
.turbo/
packages/tokens/src/css/*.raw.css
apps/playground/vendor/
apps/playground/docs/
packages/components/storybook-static/
*.tgz
docs/