:host {
  display: inline-block;
  line-height: 0;
}

.logo {
  display: block;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.logo.version-simplificado {
  height: 53px;
}

.logo.version-default {
  height: 54px;
}
